# Publish files
publish_win/
*.exe
*.dll
*.pdb

# User-specific files
*.user
*.suo

# Visual Studio
.vs/
bin/
obj/

# Logs
*.log

# Database files
*.mdf
*.ldf
*.dbmdl

# Others
*.cache
*.temp
launchSettings.json
