USE [DB_DoctorBooking]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 19/07/2025 17.51.13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[AppointmentId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[DoctorId] [int] NOT NULL,
	[AppointmentDate] [date] NOT NULL,
	[AppointmentTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[Status] [nvarchar](20) NULL,
	[PatientNotes] [nvarchar](500) NULL,
	[DoctorNotes] [nvarchar](500) NULL,
	[ConsultationFee] [decimal](10, 2) NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[QueueNumber] [nvarchar](10) NULL,
	[PaymentId] [int] NULL,
	[Symptoms] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[AppointmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 19/07/2025 17.51.14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[DoctorId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[Photo] [nvarchar](200) NULL,
	[SpecializationId] [int] NOT NULL,
	[ProviderId] [int] NOT NULL,
	[LicenseNumber] [nvarchar](50) NULL,
	[ConsultationFee] [decimal](10, 2) NULL,
	[Biography] [nvarchar](1000) NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[Rating] [float] NULL,
	[ReviewCount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DoctorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoctorSchedules]    Script Date: 19/07/2025 17.51.14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorSchedules](
	[SchedulesID] [int] IDENTITY(1,1) NOT NULL,
	[DoctorID] [int] NOT NULL,
	[DayOfWeek] [tinyint] NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[SlotDuration] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[SchedulesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethods]    Script Date: 19/07/2025 17.51.14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethods](
	[PaymentMethodId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Code] [nvarchar](50) NULL,
	[Icon] [nvarchar](200) NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentMethodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 19/07/2025 17.51.14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentId] [int] NOT NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[Amount] [decimal](10, 2) NULL,
	[TransactionId] [nvarchar](100) NULL,
	[Status] [nvarchar](20) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[CompletedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Providers]    Script Date: 19/07/2025 17.51.14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Providers](
	[ProviderId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Address] [nvarchar](500) NULL,
	[City] [nvarchar](100) NULL,
	[GoogleMapsLink] [nvarchar](500) NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProviderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 19/07/2025 17.51.14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ReviewId] [int] IDENTITY(1,1) NOT NULL,
	[DoctorId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[AppointmentId] [int] NOT NULL,
	[Rating] [float] NULL,
	[Comment] [nvarchar](1000) NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specializations]    Script Date: 19/07/2025 17.51.14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specializations](
	[SpecializationId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Icon] [nvarchar](200) NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[SpecializationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 19/07/2025 17.51.14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[Gender] [nvarchar](10) NULL,
	[DateOfBirth] [date] NULL,
	[Address] [nvarchar](255) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Appointments] ON 

INSERT [dbo].[Appointments] ([AppointmentId], [UserId], [DoctorId], [AppointmentDate], [AppointmentTime], [EndTime], [Status], [PatientNotes], [DoctorNotes], [ConsultationFee], [IsActive], [CreatedAt], [UpdatedAt], [QueueNumber], [PaymentId], [Symptoms]) VALUES (2, 1, 7, CAST(N'2025-07-17' AS Date), CAST(N'09:00:00' AS Time), CAST(N'09:30:00' AS Time), N'Scheduled', N'Saya ingin konsultasi', NULL, CAST(150000.00 AS Decimal(10, 2)), 1, CAST(N'2025-07-17T19:47:08.5033333' AS DateTime2), CAST(N'2025-07-17T19:47:08.5033333' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[Appointments] ([AppointmentId], [UserId], [DoctorId], [AppointmentDate], [AppointmentTime], [EndTime], [Status], [PatientNotes], [DoctorNotes], [ConsultationFee], [IsActive], [CreatedAt], [UpdatedAt], [QueueNumber], [PaymentId], [Symptoms]) VALUES (3, 1, 8, CAST(N'2025-07-17' AS Date), CAST(N'09:00:00' AS Time), CAST(N'09:30:00' AS Time), N'Scheduled', N'Saya ingin konsultasi', NULL, CAST(130000.00 AS Decimal(10, 2)), 1, CAST(N'2025-07-17T19:47:08.5033333' AS DateTime2), CAST(N'2025-07-17T19:47:08.5033333' AS DateTime2), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Appointments] OFF
GO
SET IDENTITY_INSERT [dbo].[Doctors] ON 

INSERT [dbo].[Doctors] ([DoctorId], [FullName], [Email], [PhoneNumber], [Photo], [SpecializationId], [ProviderId], [LicenseNumber], [ConsultationFee], [Biography], [IsActive], [CreatedAt], [UpdatedAt], [Rating], [ReviewCount]) VALUES (7, N'Dr. Nadia Prameswari', N'nadia@siloam.com', N'08123456789', N'dr_nadia.jpg', 2, 2, N'PSY-9090', CAST(150000.00 AS Decimal(10, 2)), N'Dr. Nadia is a psychiatrist at RS Siloam, specializing in mental health.', 1, CAST(N'2025-07-17T19:47:08.4566667' AS DateTime2), CAST(N'2025-07-17T19:47:08.4566667' AS DateTime2), NULL, NULL)
INSERT [dbo].[Doctors] ([DoctorId], [FullName], [Email], [PhoneNumber], [Photo], [SpecializationId], [ProviderId], [LicenseNumber], [ConsultationFee], [Biography], [IsActive], [CreatedAt], [UpdatedAt], [Rating], [ReviewCount]) VALUES (8, N'Dr. Tommy Santoso', N'tommy@mayapada.com', N'08222333444', N'dr_tommy.jpg', 3, 3, N'DEN-1234', CAST(130000.00 AS Decimal(10, 2)), N'Dr. Tommy is a dentist with years of experience at RS Mayapada.', 1, CAST(N'2025-07-17T19:47:08.4566667' AS DateTime2), CAST(N'2025-07-17T19:47:08.4566667' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Doctors] OFF
GO
SET IDENTITY_INSERT [dbo].[DoctorSchedules] ON 

INSERT [dbo].[DoctorSchedules] ([SchedulesID], [DoctorID], [DayOfWeek], [StartTime], [EndTime], [SlotDuration], [IsActive], [CreatedAt]) VALUES (1, 6, 1, CAST(N'08:00:00' AS Time), CAST(N'12:00:00' AS Time), 30, 1, CAST(N'2025-07-17T19:47:08.4866667' AS DateTime2))
INSERT [dbo].[DoctorSchedules] ([SchedulesID], [DoctorID], [DayOfWeek], [StartTime], [EndTime], [SlotDuration], [IsActive], [CreatedAt]) VALUES (2, 7, 1, CAST(N'08:00:00' AS Time), CAST(N'12:00:00' AS Time), 30, 1, CAST(N'2025-07-17T19:47:08.4866667' AS DateTime2))
INSERT [dbo].[DoctorSchedules] ([SchedulesID], [DoctorID], [DayOfWeek], [StartTime], [EndTime], [SlotDuration], [IsActive], [CreatedAt]) VALUES (3, 8, 1, CAST(N'08:00:00' AS Time), CAST(N'12:00:00' AS Time), 30, 1, CAST(N'2025-07-17T19:47:08.4866667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[DoctorSchedules] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentMethods] ON 

INSERT [dbo].[PaymentMethods] ([PaymentMethodId], [Name], [Code], [Icon], [IsActive], [CreatedAt]) VALUES (1, N'Credit Card', N'credit_card', N'creditcard.png', 1, CAST(N'2025-07-17T20:44:20.6633333' AS DateTime2))
INSERT [dbo].[PaymentMethods] ([PaymentMethodId], [Name], [Code], [Icon], [IsActive], [CreatedAt]) VALUES (2, N'Mandiri', N'mandiri', N'mandiri.png', 1, CAST(N'2025-07-17T20:44:20.6633333' AS DateTime2))
INSERT [dbo].[PaymentMethods] ([PaymentMethodId], [Name], [Code], [Icon], [IsActive], [CreatedAt]) VALUES (3, N'BCA', N'bca', N'bca.png', 1, CAST(N'2025-07-17T20:44:20.6633333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[PaymentMethods] OFF
GO
SET IDENTITY_INSERT [dbo].[Providers] ON 

INSERT [dbo].[Providers] ([ProviderId], [Name], [Address], [City], [GoogleMapsLink], [IsActive], [CreatedAt]) VALUES (1, N'RS. Hermina', N'Jl. Tangkuban Perahu No 31-33, Kauman, Kec. Klojen, Kota Malang, Jawa Timur 65119', N'Malang', N'https://maps.google.com/hermina', 1, CAST(N'2025-07-15T05:59:22.9066667' AS DateTime2))
INSERT [dbo].[Providers] ([ProviderId], [Name], [Address], [City], [GoogleMapsLink], [IsActive], [CreatedAt]) VALUES (2, N'RS Siloam', N'Jl. Raya TB Simatupang, Jakarta', N'Jakarta', N'https://maps.google.com/siloam', 1, CAST(N'2025-07-15T05:59:22.9066667' AS DateTime2))
INSERT [dbo].[Providers] ([ProviderId], [Name], [Address], [City], [GoogleMapsLink], [IsActive], [CreatedAt]) VALUES (3, N'RS Mayapada', N'Jl. Lebak Bulus, Jakarta', N'Jakarta', N'https://maps.google.com/mayapada', 1, CAST(N'2025-07-15T05:59:22.9066667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Providers] OFF
GO
SET IDENTITY_INSERT [dbo].[Specializations] ON 

INSERT [dbo].[Specializations] ([SpecializationId], [Name], [Description], [Icon], [CreatedAt]) VALUES (1, N'Ear, Nose & Throat', N'ENT Specialist', N'ear_nose_throat.png', CAST(N'2025-07-15T05:59:22.8900000' AS DateTime2))
INSERT [dbo].[Specializations] ([SpecializationId], [Name], [Description], [Icon], [CreatedAt]) VALUES (2, N'Psychiatrist', N'Mental Health Specialist', N'psychiatrist.jpeg', CAST(N'2025-07-15T05:59:22.8900000' AS DateTime2))
INSERT [dbo].[Specializations] ([SpecializationId], [Name], [Description], [Icon], [CreatedAt]) VALUES (3, N'Dentist', N'Dental Care Specialist', N'dentist.jpeg', CAST(N'2025-07-15T05:59:22.8900000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Specializations] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [FullName], [Email], [PhoneNumber], [PasswordHash], [CreatedAt], [UpdatedAt], [Gender], [DateOfBirth], [Address], [IsActive]) VALUES (1, N'Syafira', N'syafira@gmail.com', N'0987654323', N'$2a$11$3EBeahTv.tWUarYZ1WUfmOoh5rZVrrMNgrhtyL.PAHotth64cTFX6', CAST(N'2025-07-17T06:33:37.6023309' AS DateTime2), CAST(N'2025-07-17T06:35:00.5347356' AS DateTime2), N'perempuan', CAST(N'2025-07-17' AS Date), N'kp.gaga', 1)
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [PhoneNumber], [PasswordHash], [CreatedAt], [UpdatedAt], [Gender], [DateOfBirth], [Address], [IsActive]) VALUES (2, N'Orang2', N'orang@gmail.com', N'0987654323', N'$2a$11$sK1OWwN5ceYQ4tAYpi.GLu/WDiGNwKW7WsyM4EymURCCsJEsWNdPy', CAST(N'2025-07-17T06:36:15.7023437' AS DateTime2), CAST(N'2025-07-17T06:36:53.8271200' AS DateTime2), N'laki-laki', CAST(N'2025-07-17' AS Date), N'kp.orang', 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534E204F8FE]    Script Date: 19/07/2025 17.51.14 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT ('Scheduled') FOR [Status]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Doctors] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Doctors] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Doctors] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Doctors] ADD  DEFAULT ((0.0)) FOR [Rating]
GO
ALTER TABLE [dbo].[Doctors] ADD  DEFAULT ((0)) FOR [ReviewCount]
GO
ALTER TABLE [dbo].[DoctorSchedules] ADD  DEFAULT ((30)) FOR [SlotDuration]
GO
ALTER TABLE [dbo].[DoctorSchedules] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[DoctorSchedules] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PaymentMethods] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[PaymentMethods] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Providers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Providers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Specializations] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctors] ([DoctorId])
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Payment] FOREIGN KEY([PaymentId])
REFERENCES [dbo].[Payments] ([PaymentId])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Payment]
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD FOREIGN KEY([ProviderId])
REFERENCES [dbo].[Providers] ([ProviderId])
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD FOREIGN KEY([SpecializationId])
REFERENCES [dbo].[Specializations] ([SpecializationId])
GO
ALTER TABLE [dbo].[DoctorSchedules]  WITH CHECK ADD FOREIGN KEY([DoctorID])
REFERENCES [dbo].[Doctors] ([DoctorId])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([AppointmentId])
REFERENCES [dbo].[Appointments] ([AppointmentId])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([AppointmentId])
REFERENCES [dbo].[Appointments] ([AppointmentId])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctors] ([DoctorId])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD CHECK  (([Status]='NoShow' OR [Status]='Cancelled' OR [Status]='Completed' OR [Status]='Scheduled'))
GO
ALTER TABLE [dbo].[DoctorSchedules]  WITH CHECK ADD CHECK  (([DayOfWeek]>=(1) AND [DayOfWeek]<=(7)))
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
